## Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"

### Задание 1

Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:
- среднюю букву, если число букв в слове нечетное;
- две средних буквы, если число букв четное.

Примеры работы программы:
1. > word = 'test'
    
Результат:  ```es```

2.  > word = 'testing'
    
Результат:  ```t```

In [1]:
word = input('Введите слово: ')

if len(word) % 2 == 0:
  t_1 = int(len(word)/2 - 1)
  t_2 = int(t_1 + 2)
  print(word[t_1: t_2])
else:
  t = int(len(word)/2)
  print(word[t])

Введите слово: test
es

### Задание 2

Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

Примеры работы программы:  
> Введите число:  "1",

> Введите число:  "4",

> Введите число:  "6",

> Введите число:  "0",

Результат:  ```11``` 

> Введите число:  "0"

Результат:  ```0```

In [2]:
x = int(input('Введите число: '))
sum = 0

while x != 0:
  sum += x
  x = int(input('Введите число: '))
  
print('Результат: ', sum)

Введите число: 1
Введите число: 4
Введите число: 6
Введите число: 0
Результат:  11


###Задание 3

Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

Примеры работы программы:

> boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']

> girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Результат:

```Идеальные пары:  ```
 * Alex и Emma  
 * Arthur и Kate  
 * John и Kira  
 * Peter и Liza  
 * Richard и Trisha



> boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']

> girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Результат: ```Внимание, кто-то может остаться без пары!```

In [3]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) == len(girls):
  boys = sorted(boys, reverse= True)
  ind = int(len(boys))
  girls = sorted(girls, reverse= True)
  while ind <= len(boys) and ind > 0:
    ind -= 1
    print(f'Идеальные пары: {boys[ind]} и {girls[ind]}')
else:
  print('Внимание, кто-то может остаться без пары!')

Идеальные пары: Alex и Emma
Идеальные пары: Arthur и Kate
Идеальные пары: John и Kira
Идеальные пары: Peter и Liza
Идеальные пары: Richard и Trisha


### Задание 4

У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Пример работы программы:



```
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
```



Результат:
```
Средняя температура в странах:
Thailand  -  23.9 С
Germany  -  13.8 С
Russia  -  3.7 С
Poland  -  12.0 С
```

In [4]:
#устанавливаем библиотеку math для подсчёта суммы градусов
import math

countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

ind = -1
print('Средняя температура в странах: ')
while ind < int(len(countries_temperature)-1):
  ind += 1
  country = countries_temperature[ind][0]
  farengate = countries_temperature[ind][1]
  celsius = round(((math.fsum(farengate)/len(farengate)- 32)*5/9), 1)
  print(f'{country} - {celsius} C')

Средняя температура в странах:
Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C


###Задание 5 (необязательное)

Дан поток логов по количеству просмотренных страниц для каждого пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

Примеры работы программы:
```
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
```
Результат:
> Среднее количество просмотров на уникального пользователя: 23.25

```
stream = [
    '2018-01-01,user100,150',
    '2018-01-07,user99,205',
    '2018-03-29,user1001,81'
]
```
Результат:
> Среднее количество просмотров на уникального пользователя: 145.33

In [5]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [6]:
#Из одного списка stream создаём список с вложенными списками, где каждый список включает один набор данных
stream_list_end = []

for element in stream:
  stream_list = element.split(',')
  stream_list_end.append(stream_list)
print(stream_list_end)

[['2018-01-01', 'user1', '3'], ['2018-01-07', 'user1', '4'], ['2018-03-29', 'user1', '1'], ['2018-04-04', 'user1', '13'], ['2018-01-05', 'user2', '7'], ['2018-06-14', 'user3', '4'], ['2018-07-02', 'user3', '10'], ['2018-03-21', 'user4', '19'], ['2018-03-22', 'user4', '4'], ['2018-04-22', 'user4', '8'], ['2018-05-03', 'user4', '9'], ['2018-05-11', 'user4', '11']]

In [7]:
#Создаём список со всеми идентификаторами пользователей
ind = len(stream_list_end)
user_id_list = []
while ind <= len(stream_list_end) and ind > 0:
  ind -= 1
  user_id = stream_list_end[ind][1]
  user_id_list.append(user_id)
#Удаляем дубликаты идентификаторов пользователей
user_uniq_list = []
for user in user_id_list:
  if user not in user_uniq_list:
    user_uniq_list.append(user)
print(user_uniq_list)
#Считаем количество уникальных пользователей
count_uniq_user = len(user_uniq_list)
count_uniq_user

['user4', 'user3', 'user2', 'user1']

4

In [8]:
#Создаём список со всеми просмотрами
ind_w = len(stream_list_end)
watch_list = []
while ind_w <= len(stream_list_end) and ind_w > 0:
  ind_w -= 1
  watch = stream_list_end[ind_w][2]
  watch_list.append(watch)
print(watch_list)
#Переводим данные в цельночисловой тип
watch_list_int = [int(i) for i in watch_list]
#Подсчитываем общее количество всех просмотров
all_watch = math.fsum(watch_list_int)
all_watch

['11', '9', '8', '4', '19', '10', '4', '7', '13', '1', '4', '3']

93.0

In [9]:
#Выводим результат
print(f'Среднее количество просмотров на уникального пользователя: {all_watch/count_uniq_user}')

Среднее количество просмотров на уникального пользователя: 23.25


###Задание 6 (необязательное)

Необходимо у пользователя запрашивать набор чисел разделенных пробелом. В результате в отсортированном порядке должны выводиться числа, которые повторяются в вводе более одного раза.

Примеры работы программы:
```
Введите числа:
4 8 0 3 4 2 0 3
```
Результат:
> 0 3 4

```
Введите числа:
1 1 2 2 3 3
```
Результат:
> 1 2 3

```
Введите числа:
10 15 15 103 200 200 200 1 1 1 1 1 2 2 2
```
Результат:
> 1 2 15 200

In [10]:
#Запрашиваем набор чисел через пробел
numbers = input('Введите числа: ')

#Преобразуем строку в список, переводим в цельночисловой тип и сортируем по возрастанию
numbers_list = numbers.split(' ')
numbers_list = [int(i) for i in numbers_list]
numbers_list = sorted(numbers_list)
numbers_list

Введите числа: 10 15 15 103 200 200 200 1 1 1 1 1 2 2 2

[1, 1, 1, 1, 1, 2, 2, 2, 10, 15, 15, 103, 200, 200, 200]

In [11]:
#Оставляем только те элементы, количество вхождений в список которых, более 1 раза
li = []
for number in numbers_list:
  if numbers_list.count(number) > 1:
    li.append(number)
li

[1, 1, 1, 1, 1, 2, 2, 2, 15, 15, 200, 200, 200]

In [12]:
#Удаляем дубликаты
uniq_li = []
for i in li:
  if i not in uniq_li:
    uniq_li.append(i)
uniq_li

[1, 2, 15, 200]